@import "tailwindcss";
@theme {
  --color-base-100:#F4F4F5;
  --color-base-200:#E4E4E7;
  --color-base-400:#9F9FA9;
  --color-base-500:#71717B;
  --color-base-600:#52525C;
  --color-base-700:#3F3F47;
  --color-base-800:#27272A;
  --color-base-900:#18181B;
  --color-base-950:#09090B;

  --color-primary-100:#F5EEE0;
  --color-primary-200:#F4EAD6;
  --color-primary-300:#F2DCB5;
  --color-primary-400:#F0C47C;
  --color-primary-500:#EFA102;
  --color-primary-600:#A37108;
  --color-primary-700:#6D4C09;
  --color-primary-800:#4E3709;
  --color-primary-900:#453108;

  --color-success-100:#E0F5E9;
  --color-success-200:#D9EFE3;
  --color-success-300:#C5DECF;
  --color-success-400:#A3C1AF;
  --color-success-500:#7A9D88;
  --color-success-600:#4C785C;
  --color-success-700:#295B3A;
  --color-success-800:#124A26;
  --color-success-900:#084520;

  --color-error-100:#F5E5E0;
  --color-error-200:#F4DDD6;
  --color-error-300:#F1C3B5;
  --color-error-400:#E89780;
  --color-error-500:#D85C39;
  --color-error-600:#983D24;
  --color-error-700:#682614;
  --color-error-800:#4D190B;
  --color-error-900:#451508;

  --font-sans: "Geist", sans-serif;
}
@layer base {
  body {
    background-color: var(--color-base-950);
    color: var(--color-base-100);
    @apply antialiased selection:bg-primary-500 selection:text-white;
  }
}

